<html>

<head></head>
<body>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<!--Show all items-->
{% if items==[]%}
	<p> there are currently no items in the catalog.</p>

{% else %}
<div class='product'>
	{% for item in items %}
	<a href={{url_for('product', product_id = item.id)}}>
		<p>{{item.name}}</p>
		<img src={{item.photo}} height="250" >
	</a>
	{% endfor %}
</div>	
{% endif %}
</body>
</html>